body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(/assests/img/bg.png);
  background-size: cover;
}

.container {
  text-align: center;
}