body {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../img/bg.jpeg');
  background-size: 100% auto;
}

.container {
  text-align: center;
  overflow: hidden;
  padding:0 2rem;
}